.main h3,
.main p {
  margin: 25px;
}
.content {
  width: 90%;
  margin: auto;
}
.image {
  position: relative;
  height: 140px;
  width: 70%;
  margin: auto;
}
.num {
  width: 95%;
  margin-left: 8px;
  margin-right: 8px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: auto;
  position: absolute;
  bottom: 10px;
  left: 22px;
}
.footer div {
  position: relative;
  top: 0;
  left: 0;
  width: 15%;
  height: 20px;
  margin: auto;
}
.footer p {
  margin-right: 75px;
  margin-bottom: 10px;
  font-size: 10px;
  color: #929292f1;
  font-weight: 500;
}
