.img {
  margin-top: 30px;
  text-align: center;
}

.image1 {
  font-size: 200px;
  color: #00a0b1;
  margin-left: 30px;
}
.box {
  height: 50px;
  width: 50px;
  background-color: #00a0b1;
  display: grid;
  place-items: center;
  border-radius: 50px;
  position: relative;
  top: -50px;
  left: 47.6%;
}
.image2 {
  font-size: 25px;
  color: #fff;
}
.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.parent img {
  object-fit: cover;
  width: 220px;
  height: 220px;
  border-radius: 100%;
}
